---
import Layout from "../layouts/Layout.astro";
import ReceptesController from "../classes/ReceptesController";
import Recepta from "../components/Recepta.astro";
// Exemple d'ús:

const receptesController = new ReceptesController();

const receptes = await receptesController.getAllReceptes();

// simple validació d'usuari loguejat

let usuari;
if (Astro.cookies.has("usuari")) {
  const cookie = Astro.cookies.get("usuari")
  usuari = cookie.value
} else {
  return Astro.redirect('/login')
}


/* receptes té el format:
{
    list: [
      {
        Id: 1,
        nom: 'ous amb bacon',
        CreatedAt: '2024-02-01 09:44:44+00:00',
        UpdatedAt: '2024-02-01 09:46:32+00:00',
        foto: 'https://baconmockup.com/400/300/',
        descripcio: 'Ingredients..."
      },
	  {
		...
	  }
         ],
    pageInfo: {
      totalRows: 2,
      page: 1,
      pageSize: 25,
      isFirstPage: true,
      isLastPage: true
    }
  }
*/
---

<Layout title="Index" >

  <a href="/receptes/nova" >
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
      Nova recepta
    </button>
</a>



  <hr />
  {receptes?.list.map((e) => <Recepta dades={e} />)}
</Layout>
